html {
	background-image: url("media/plainsky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #000000;
	font-family: "Courier New";
}

body {
	background-color: #FFFFFE;
	border: 1px solid #000000;
	border-radius: 15px;
	box-shadow: 8px 8px 4px #808080;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	max-width: 1000px;
	opacity: 0.95;
}




/* cool stuff */

nav {
	background-color: LightSteelBlue;
	border: 1px solid #000000;
	border-radius: 3px;
	color: #000000;
	list-style-type: none;
	margin: 15px;
	text-align: center;
	text-shadow: 4px 4px 8px #808080;
}

nav a {
	color: #000000; 
	text-decoration: none;
}

nav a:hover {
	color: #000099;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
}

footer {
	text-align: center;
}

footer a {
	color: #000099;
	font-weight: bold;
	text-decoration: none;
}

tr, td, th {
	border: 1px solid #000000;
	padding: 5px;
}

table {
	background-color: #A0B2C9;
	border: 2px solid #000000;
	border-collapse: collapse;
	font-family: "Lucida Console";
	width: 85%;
}

table a {
	text-decoration: none;
	font-weight: bold;
}




/* id stuff */

#main-content {
	min-height: 80vh;
	text-align: center;
}

#logo {
	display: block;
	margin: auto;
	padding: 15px;
	height: auto;
	width: 60%;
}




/* class stuff */

.image {
	border: 2px solid #000000;
	box-shadow: 5px 5px 5px #777777;
}

.note {
	background-color: #FFCCCB;
	background-image: url('media/silk_icons/information.png');
	background-position: 10px;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	color: #FF0000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 5px;
	width: 90%;
}
